<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>Backend Test#2</title>
  <style>
    #loginarea{
      padding:2em;
      margin-top: 70px;  
      width: 300px;    
      border: 1px solid #524f4f;
    }
    #signuparea,#editarea{
      width: 450px;
    }
  </style>
</head>
<body>
  
  <%-body-%>
</body>
</html>
