<center>
<div id="loginarea" >
<div id="errormessagearea" style="background-color:rgba(216, 68, 48, 0.377)">
    <% if (locals.errorMessage != null) { %>
        
            <%= errorMessage %><br>
          
    <% } %>
</div>
<div>
    <form action="/login" method="GET">
        <table>
            <tr>
                <td>LoginID</td>
                <td>
                    <% if (locals.inputid == null) { %>
                    <input type="text" name="loginid" >
                    <% }else{ %>
                    <input type="text" name="loginid" value="<%=inputid%>">
                    <% } %>
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password"></td>
            </tr>
        </table>
        
        <button type="submit">Login</button>
        <a href="/signup">Signup</a>
    </form>
</div>
</div>
</center>

