<div>
    <a href="/logout"><button>Logout</button></a>
    <% if (flag == true) { %>
    <a href="/download"><button>Download</button></a>
    <% } %>
    <a href="/edit"><button>Edit your profile</button></a>
</div>